<settings>
<category label="Display">
	<setting id="view_mode" label="View Mode" type="number" default="51" />
</category>
<category label="Tools">
<setting type="lsep" label="Use these if the Ivue creator is producing corrupted results"/>
<setting id= "Reset Database" label="Reset Database" visible="true" type="action" action="RunScript($CWD/Reset.py)"/>
<setting id= "Reset addons2.ini" label="Reset addons2.ini" visible="true" type="action" action="RunScript($CWD/Resetaddons2.py)"/>
</category>
</settings>