<settings>
	<category label="General">
		<setting id="Username" type="text" label="[COLOR white]Username[/COLOR]" default=""/>
		<setting id="Password" type="text" label="[COLOR white]Password[/COLOR]" default=""/>
		<setting id="Adult.Set" type="bool" label="[COLOR white]Hide Adult Menu[/COLOR] [COLOR crimson](Clear Cache to show changes)[/COLOR]" default="false"/>
		<setting id="Adult.PWSet" type="bool" label="[COLOR white]Password Lock Adult Channels[/COLOR]" default="false"/>
		<setting id="Adult.PW" option = 'hidden' type="text" label="[COLOR white]Adult Channels Password[/COLOR] [COLOR crimson](Default: 1234)[/COLOR]" default="1234"/>
		<setting id="Reminder" label="[COLOR crimson]DON'T FORGET![/COLOR] [COLOR white]SELECT[/COLOR] [COLOR lime green]'OK'[/COLOR] [COLOR white]TO SAVE CHANGES.[/COLOR]" type="lsep"/>
	</category>
</settings>
